apiVersion: apps/v1
kind: Deployment
metadata:
  name: donimoney
  labels:
    app: donimoney
spec:
  replicas: 2
  selector:
    matchLabels:
      app: donimoney
  template:
    metadata:
      labels:
        app: donimoney
    spec:
      containers:
        - name: app
          image: docker.io/jinseon901/test:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

